/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  line-height:       70px;
  display:           flex;
  justify-content:   space-between;
  list-style:        none;
  text-decoration:   none;
}

.header a {
  font-weight:       bold; 
  font-size:         20px;
  text-decoration:   none;
  color:             white;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.todoBox__upper {
  
}

.todoBox__list {
  display: flex;
  justify-content: space-between;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}
